.first-paragraph{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    text-align: center !important;
}

.card{
    width: 75%;

    margin-left: auto;
    margin-right: auto;

    .title-card{
        text-align: center !important;   
    }
}